.container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 40px;
}

.img {
  object-fit: cover;
}

.content {
}

.title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}

.title:hover {
  color: #6c63ff;
}

.desc {
  font-size: 18px;
  color: #999;
}

.loadCon {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.load {
  font-weight: 700;
}
